<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tabbar color.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B47F6BAF1B99B10D00542F37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B47F6BC81B99B10F00542F37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B47F6BD31B99B10F00542F37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
